<h1 class="h4 titulo mb-2">Listagem Vínculos</h1>
<p *ngIf="!vinculos">Carregando Vínculos Médicos e Consultorios...</p>

<table class="table table-striped table-hover" *ngIf="vinculos">
  <thead>
    <tr>
      <th>CRM</th>
      <th>Nome Médico</th>
      <th>Nome Consultório</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vinculos">
      <td style="width:20%">{{v.crm}}</td>
      <td style="width:20%">{{v.nomeMedico}}</td>
      <td style="width:20%">{{v.nomeConsultorio}}</td>
    </tr>
  </tbody>
</table>
