<h1 class="h4 titulo mb-2">Listagem Vínculos</h1>
<p *ngIf="!vinculos">Carregando Vínculos Médicos e Consultorios...</p>

<button class="btn btn-primary mb-2" (click)="adicionarVinculo()">Adicionar Vínculo</button>

<table class="table table-hover" *ngIf="vinculos">
  <thead>
    <tr>
      <th>Id Vinculo</th>
      <th>CRM</th>
      <th>Nome Médico</th>
      <th>Nome Consultório</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vinculos">
      <td>{{v.idVinculoMedicoConsultorio}}</td>
      <td style="width:20%">{{v.crm}}</td>
      <td style="width:20%">{{v.nomeMedico}}</td>
      <td style="width:20%">{{v.nomeConsultorio}}</td>
      <td><button class="btn btn-success btn-sm" (click)="editarVinculo(v)">Editar</button></td>
      <td><button class="btn btn-danger btn-sm" (click)="deletarVinculo(v)">deletar</button></td>
    </tr>
  </tbody>
</table>
